*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:Arial, Helvetica, sans-serif;
}

.main{
margin: 2%;
box-sizing: border-box;
text-align: center;
}
.bg{
    max-width: 100%;
}

body,
html{
overflow-x: hidden;
}

canvas {
position: fixed;
left: 0px;
top: 0px;
}
